<div class="legenda clearfix">
  <p>Legenda</p>

  <div class="panel page"><img src="{{ site.baseurl }}/pix/icon/svg/checkbox-unchecked.svg">Unspecified</div>
  <div class="panel workshop"><img src="{{ site.baseurl }}/pix/icon/svg/accessibility.svg">Facilitated workshop</div>
  <div class="panel advice"><img src="{{ site.baseurl }}/pix/icon/svg/bubbles.svg">Expert advice</div>
  <div class="panel support"><img src="{{ site.baseurl }}/pix/icon/svg/lifebuoy.svg">(Remote) support</div>
  <div class="panel tech"><img src="{{ site.baseurl }}/pix/icon/svg/briefcase.svg">Technical feedback</div>
</div>
