---
layout: default
---
<div class="">

  <header class="">
    {% if page.icon %}
      <img alt="icon" class="icon" src="{{ site.baseurl }}/pix/{{ page.icon }}" />
    {% endif %}
    <h1 class="">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}

    <aside>
      <p>Used in:</p>
      <ul>
        {% for element in site.packages %}
          {% if element.modules contains page.name %}
            <li>
              {% include element-link.html %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </aside>

  </article>

</div>
