---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <aside>
    <p>About packages:</p>
    <ul>
      {% for element in site.packages %}
        {% if page.packages contains element.name %}
          <li>{% include element-link.html %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>

  <aside>
    <p>Included in programmes:</p>
    <ul>
      {% for element in site.programmes %}
        {% if page.users contains element.name %}
          <li>{% include element-link.html %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>

</div>
