---
layout: default
---
<div class="post">

  <header class="">
    {% if page.icon %}
      <img alt="icon" class="icon" src="{{ page.icon | prepend:'/pix/' | prepend: site.baseurl }}" />
    {% endif %}
    <h1 class="">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <h2>Sessions used by {{ page.title }}</h2>
  {% for element in site.sessions %}
    {% if element.users contains page.name %}
      {% include element-block.html %}
    {% endif %}
  {% endfor %}

  {% include legenda-sessions.html %}
</div>
