---
layout: default
---
<div class="post">

  <header class="">
    <h1 class="">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <aside>
    <h2>Packages used by {{ page.title }}</h2>
    <ul class="">
      {% for package in site.packages %}
        {% if package.users contains page.name %}
        <li>
            <a class="" href="{{ package.url | prepend: site.baseurl }}">{{ package.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>
</div>
