---
layout: default
---
<div class="post">

  <header class="">
    {% if page.icon %}
      <img alt="icon" class="icon" src="{{ page.icon | prepend:'pix/' | prepend: site.baseurl }}" />
    {% endif %}
    <h1 class="">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <aside>
    <h2>Packages used by {{ page.title }}</h2>
    <ul class="">
      {% for element in site.packages %}
        {% if element.users contains page.name %}
          <li> {% include element-link.html %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>
</div>
