---
layout: default
---
<div class="">
  <header class="">
    {% if page.icon %}
      <img alt="icon" class="icon" src="{{ site.baseurl }}/pix/{{ page.icon }}" />
    {% endif %}
    <h1 class="">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    <aside>
      <h1>Target audiences:</h1>
      <ul>
        {% for audience in page.targets %}
          <li>
              {{ audience }}
          </li>
        {% endfor %}
      </ul>
    </aside>

    <blockquote>
      <p>{{ page.description }}</p>
    </blockquote>

    {{ content }}

    {% if page.modules %}
      <h1>Modules</h1>
      <p>Modules used in this {{ page.layout }}</p>
      {% include elements-selection.html elements = site.modules context = page.modules %}
    {% endif %}

  </article>

  <br clear="all" />
  <aside>
    <h1>Used by:</h1>
    <ul>
      {% for element in site.programmes %}
        {% if page.users contains element.name %}
          <li>{% include element-link.html %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>

</div>
